.banner {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-attachment: fixed;
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/4/45/%D0%9E%D0%BB%D0%B5%D0%BA%D1%81%D0%B0%D0%BD%D0%B4%D1%80%D1%96%D1%8F_%D0%B2%D1%83%D0%BB._6_%D0%93%D1%80%D1%83%D0%B4%D0%BD%D1%8F%2C_2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 95vh;
  margin-bottom: 300px;
  user-select: none;
  min-height: 600px;
  position: relative;
  &::before {
    background-color: rgba(0, 0, 0, 0.8);
    content: "";
    height: 100%;
    position: absolute;
    width: 100%;
  }
  &__subtitle,
  &__description {
    color: #fff;
    font-size: 14px;
    position: relative;
    text-align: center;
  }
  &__title {
    color: #fff;
    display: inline-block;
    font-size: 45px;
    font-weight: 900;
    letter-spacing: 7px;
    margin: 20px;
    position: relative;
    text-transform: uppercase;
    &::before,
    &::after {
      content: "";
      background-color: #fff;
      height: 2px;
      left: 0;
      width: 100%;
      position: absolute;
    }
    &::before {
      top: -7px;
    }
    &::after {
      bottom: -7px;
    }
  }
  &__scroll {
    border: 2px solid #fff;
    border-radius: 50%;
    bottom: 5%;
    cursor: pointer;
    height: 50px;
    left: 50%;
    outline: none;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    transform: translateX(-50%);
    width: 50px;
    & span {
      color: #fff;
      font-size: 20px;
    }
  }
}
